<!DOCTYPE html5>
<head>
    <title>Creation of Chapters</title>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='create_chapter.css') }}" rel="stylesheet">

</head>
<body>
    
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="button-containter">
        <button onclick="window.location.href='/back_create_chapter_admin_dashboard'">&larr;</button>
    </div>
    {% if chapters %}        
            <h3 class="h3">Chapters of {{subject_name}} </h3>
       
        <table>
            <th>Chapter ID</th>
            <th>Chapter Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </table>
        {% for chapter in chapters %}
            <table>
                <td>{{chapter.Chapter_id}}</td>
                <td>{{chapter.Chapter_name}}</td>
                <td>{{chapter.Description}}</td>
                <td><a href="/edit_chapter/{{chapter.Chapter_id}}/{{subject_name}}/{{subject_id}}">Edit Chapter</a>
                <a href="/add_quizzes_chapter/{{chapter.Chapter_id}}/{{chapter.Chapter_name}}">Add/Edit Quizzes</a>
                <a href="/delete_chapter/{{chapter.Chapter_id}}/{{subject_id}}/{{subject_name}}">Delete Chapter</a></td>
            </table>
        {% endfor %}
    {% endif %}
    <div id='form'>
        <h3>Creation of chapter for {{subject_name}} Subject</h3>
        <form action="/create_quiz?subject_name={{subject_name}}&subject_id={{subject_id}}" method="post">
            <label>Enter chapter name</label>
            <input type="text" id="chapter_name" name="chapter_name"><br>
            <label>Enter chapter id</label>
            <input type="text" id="chapter_id" name="chapter_id"><br>
            <label>Description</label>
            <input type="textarea" id="description" name="description"><br>
            <input type="submit" value="Add Quizzes for this chapter">
        </form>
    </div>
</body>